/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 200px;
  }
  tr
  tr:nth-child(even) {
    background-color: #dddddd;
  } */
  table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    
  }
  th,td{
    width: 250px;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  th{
    background-color:grey;
  }
  